<div id="wrapper">

  <!-- Side Bar -->
  <div id="sidebar">
    <div class="header">
      <span>The Librian</span>
    </div>

    <div class="menu">
      <ul>
        <li>
          <a>
            <i class="fa fa-home"></i>
            Library Home
          </a>
        </li>

        <li>
          <a>
            <i class="fa fa-history"></i>
            Rent Book History
          </a>
        </li>

        <li>
          <a>
            <i class="fa fa-bolt"></i>
            Not Return Books
          </a>
        </li>

        <li>
          <a href="#memberMenu" class="dropdown-toggle" data-toggle="collapse">
            <i class="fa fa-users"></i>
            Members
          </a>
          <ul id="memberMenu" class="collapse">
            <li>
              <a [routerLink]="['/master/member-types']" routerLinkActive="active">Member Types</a>
            </li>
            <li>
              <a [routerLink]="['/master/members']" routerLinkActive="active">Members</a>
            </li>
            <li>
              <a [routerLink]="['/master/libarians']" routerLinkActive="active">Librians</a>
            </li>
          </ul>
        </li>

        <li>
          <a href="#masterMenu" class="dropdown-toggle" data-toggle="collapse">
            <i class="fa fa-database"></i>
            Master Data
          </a>
          <ul class="collapse" id="masterMenu">
            <li>
              <a [routerLink]="['/master/categories']" routerLinkActive="active">
                Categories
              </a>
            </li>

            <li>
              <a [routerLink]="['/master/books']" routerLinkActive="active">
                Books
              </a>
            </li>

            <li>
              <a [routerLink]="['/master/authors']" routerLinkActive="active">
                Authers
              </a>
            </li>
          </ul>
        </li>

        <li>
          <a><i class="fa fa-user-o"></i> Profile</a>
        </li>

        <li>
          <a><i class="fa fa-sign-out"></i> Sign Out</a>
        </li>
      </ul>
    </div>
  </div>

  <!-- Content -->
  <div id="content">

    <router-outlet></router-outlet>
  </div>

</div>