<div class="modal-dialog modal-lg">

    <div class="modal-content">

        <div class="modal-header">
            <h5>{{ edit ? 'Edit' : 'Add New'}} Author</h5>
        </div>

        <div class="modal-body">
            <form [formGroup]="form" class="form">

                <div class="form-group">
                    <label>Pen Name</label>
                    <input formControlName="penName" type="text" placeholder="Enter Pen Name" class="form-control">
                </div>

                <div class="form-row">
                    <div class="col">
                        <div class="form-group">
                            <label>Name</label>
                            <input formControlName="name" type="text" placeholder="Enter Real Name"
                                class="form-control">
                        </div>

                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>Gender</label>
                            <select formControlName="gender" class="form-control">
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                            </select>
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <label>Title</label>
                    <input formControlName="title" type="text" placeholder="Enter Job Title" class="form-control">
                </div>

                <div class="form-row">

                    <div class="col">
                        <div class="form-group">
                            <label>Date Of Birth</label>
                            <input formControlName="dob" type="date" placeholder="Enter Date of Birth"
                                class="form-control">
                        </div>

                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label>Country</label>
                            <input formControlName="country" type="text" placeholder="Enter Native Country"
                                class="form-control">
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    <label>Remark</label>
                    <textarea formControlName="remark" class="form-control"></textarea>
                </div>

            </form>
        </div>

        <div class="modal-footer">
            <a (click)="save()" [class.disabled]="!form.valid" class="btn btn-primary">
                <i class="fa fa-save"></i> Save
            </a>
        </div>

    </div>
</div>