<!-- Header -->
<div class="content-header">
    <h3>Author Management</h3>

    <div class="actions">
        <a href="#" class="btn btn-primary mr-2">
            <i class="fa fa-print mr-2"></i> Export
        </a>
        <a href="#" class="btn btn-primary">
            <i class="fa fa-plus mr-2"></i> Add New
        </a>
    </div>
</div>

<!-- Search -->
<div class="card">
    <div class="card-body">

    </div>
</div>

<!-- Result Table -->
<table class="table mt-4">
    <thead>
        <tr>
            <th>Name</th>
            <th>Gender</th>
            <th>Country</th>
            <th>Date of Birth</th>
            <th>Title</th>
            <th></th>
        </tr>
    </thead>
</table>