<div class="content-header">
    <h3>Books Management</h3>

    <div class="actions">
        <a class="btn btn-primary mr-2">
            <i class="fa fa-print mr-2"></i> Export
        </a>
        <a class="btn btn-primary mr-2">
            <i class="fa fa-upload mr-2"></i> Upload
        </a>
        <a class="btn btn-primary">
            <i class="fa fa-plus mr-2"></i> Add New
        </a>
    </div>
</div>

<div class="card">
    <div class="card-body">

        <div class="form">
            <div class="form-row">
                <!-- Language -->
                <div class="col">
                    <div class="form-group">
                        <label>Language</label>
                        <select class="form-control"></select>
                    </div>
                </div>

                <!-- Name -->
                <div class="col">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" placeholder="Search Book Name" class="form-control">
                    </div>
                </div>

                <!-- Category -->
                <div class="col">
                    <div class="form-group">
                        <label>Category</label>
                        <input type="text" placeholder="Search Book Category" class="form-control">
                    </div>
                </div>

                <!-- Author -->
                <div class="col">
                    <div class="form-group">
                        <label>Author</label>
                        <input type="text" placeholder="Search Author Name" class="form-control">
                    </div>
                </div>

                <div class="col">
                    <div class="form-group">
                        <a class="btn btn-primary" style="margin-top: 2em;">
                            <i class="fa fa-search"></i> Search
                        </a>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>

<table class="table mt-4">
    <thead>
        <tr>
            <th>Name</th>
            <th>Categories</th>
            <th>Authers</th>
            <th>Language</th>
            <th>Published Year</th>
            <th>Publisher</th>
            <th>Item Count</th>
        </tr>
    </thead>
</table>